{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs {% endblock title %}
{% block body %}
{% if postList %}
<div id="posts-container"></div>
{% else %}
<p><a href="{% url 'blog:postCreate' %}">Create your first post.</a></p>
{% endif %}
<script>
  window.addEventListener("DOMContentLoaded",addArticles)

function addArticles(){
  const postsContainer = document.getElementById("posts-container");
  if(!postsContainer)return null;
  const postList = JSON.parse("{{postList|escapejs}}");
  for(const post of postList)
  {
    console.log(post)
    const blocks = (JSON.parse(post.body)).blocks
    let paragraph;
    let img;
    for(let i = 0; i < blocks.length; i++){
      switch(blocks[i].type){
        case "paragraph":
          if(!paragraph)
          {
          const p = document.createElement("p");
          p.innerHTML = blocks[i].data.text;
          p.classList.add("post-content")
          paragraph = p
          }
          break;

        case "Image":
          if(!img){
            let image = document.createElement("img")
            image.src = `${blocks[i].data.file.url}`
            image.classList.add("post-thumbnail")
            img = image;
          }
          break;
      }
    }
    const node = document.createElement("div")
    const c1 = document.createElement("div")
    const c2 = document.createElement("div")
    const c3 = document.createElement("div")
    c1.classList.add("container-item-1")
    c2.classList.add("container-item-2")
    c3.classList.add("user-name-pic")
    node.classList.add("container-item")
    const username  = document.createElement("a")
    username.href = "#"
    username.textContent = post.user__username
    username.classList.add("user-link")
    const userPic = document.createElement("img")
    userPic.src = `/media/${post.user__myuser__image}`
    userPic.classList.add("profile-pic")
    const title = document.createElement("h3")
    title.innerHTML = `<a href="blog/${post.id}">${post.title}</a>`
    title.classList.add("post-heading")
    c3.appendChild(userPic)
    c3.appendChild(username)
    c1.appendChild(c3)
    c1.appendChild(title)
    if(paragraph)c1.appendChild(paragraph)
    node.appendChild(c1)
    if(img){
      c2.appendChild(img)
      node.appendChild(c2)
    }
    postsContainer.appendChild(node);
  }
}
</script>
{% endblock body %}
